* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    width:100%;
    height:100%;
    background-color: #fff;
}

/* texte forme/style */

.bold {
    font-size: large;
    font-weight: 600;
}

.indent {
    padding-left: 1.5em;
}

.upp {
    text-transform: uppercase;
}

/* --- navigation --- */

.logo img {
    border:2px solid #fff;
}

/* --- page accueil --- */
/* 1ere partie */

.first {
    width:100%;
    margin:0 auto;
    padding-top:4em;
    display: flex;
    flex-direction: column;
    gap:1em;
    background-color: #283A7F;
}

.logo-geant img {
    width: 50%;
    object-fit: cover;
    margin:2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    filter:invert(1);
}

.titre {
    text-align: center;
    color: #12182d;
    font-weight: 900;
    padding-bottom:2em;
}

.box {
    width: 100%;
    height:100vh;
    background-color: #18203f;
    border-top:4px solid #D86F12;
    box-shadow: 0 -2px 0 #FFD194;
}

/* PAGE ACCUEIL */

.section1 {
    width: 90%;
    padding:2em;
    margin:2em auto;
    color:#fff;
}

.sous-titre {
    margin-bottom: 1em;
    color:#D86F12;
}

.text {
    display: flex;
    flex-direction: column;
    gap:1em;
    padding:1em 0 3em;
    text-align: justify;
    border-bottom:2px solid #FFD194;
}

.text1 {
    text-align: center;
    margin: 3em auto 1em;
}

.opus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opus ul {
    width: 35%;
    text-align: center;
}

.opus ul li {
    background-color: #2b396e;
    margin-top:1em;
    padding:0.5em 0.2em;
    border-radius: 20px;
}

/* PAGE MODE DE JEU */

.equipe {
    width: 100%;
    margin:2em auto;
    box-sizing: border-box;
    padding: 2em 0;
    text-align: center;
}

.equipe ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3em;
}

.equipe li {
    font-size:small;
}

.equipe img {
    width: 60px;
    margin-top:1em;
}

.equipe h4 {
    text-transform: uppercase;
    color: #fff;
}

.terro, .counter {
    padding:1em;
    margin-top:1em;
    width:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:0 10px 0 10px;
}

.terro {
    background-color: #cbbe98 ;
    border: 2px solid #695D4B;
}

.counter {
    background-color: #b7cad7 ;
    border: 2px solid #30404A;
}
