/* texte forme/style */

.bold {
  font-size: large;
  font-weight: 600;
}

.indent {
  padding: 0 1.5em;
}

.upp {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/* --- navigation --- */

.logo img {
  border: 2px solid #fff;
}

.container-right {
  padding-top:0;
}

/* TOP PAGE */

.logo-geant {
  width: 100%;
  height:300px;
  margin: 0 auto;
  background-color: #283A8A;
  box-sizing: border-box;
  background-image: url(./images/topaccueil.png);
  background-position: top center;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffd194;
  box-shadow: 0 3px 0 #d86f12;
}

/* PAGE ACCUEIL */

.titre {
  text-align: center;
  color: #12182d;
  font-size: 1.5em;
  padding-bottom: 2em;
}

.section-box {
  width: 90%;
  padding: 3em;
  margin: 2em auto;
  background-color: #ECECEC;
  border: 2px solid #3b4e95;
  box-sizing: border-box;
}

.sous-titre {
  margin: 0.5em 0;
  color: #d86f12;
}

.text {
  width: 90%;
  margin: auto;
  gap: 1em;
  padding: 1em 0 1.5em;
  margin-bottom:1em;
  text-align: center;
  border-bottom: 2px solid #ffd194;
}

.text-1 h3 {
  text-align: center;
  margin: 2em auto 1em;
}

.opus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opus ul {
  width: 50%;
  text-align: center;
}

.opus ul li {
  background-color: #f6f6f6;
  color: #6b6b6b;
  margin-top: 1em;
  padding: 0.5em 0.2em;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

.opus ul li:hover {
  color: #000000;
  font-weight: 600;
}

.evol {
  margin-top:2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evol img {
  width:100%;
  }

/* PAGE 2 - MODE DE JEU */
/* premier classic */

.equipe,
.premier-classic {
  margin: auto;
}

.equipe ul,
.premier-classic ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.equipe li {
  font-size: small;
}

.equipe img {
  width: 60px;
  margin-top: 1em;
}

.classic img {
  width: 80%;
  margin: 3em auto 0;
}

.premier-classic span {
  display: flex;
  align-items: center;
}

.terro,
.counter {
  padding: 1em;
  margin-top: 1em;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 10px 0 10px;
}

.premier,
.classic {
  padding: 1em;
  margin-top: 1em;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.terro {
  color: #695d4b;
  background-color: #cbbe98;
  border: 2px solid #695d4b;
}

.counter {
  color: #30404a;
  background-color: #b7cad7;
  border: 2px solid #30404a;
}

/* RANK ELO BOX */

.box-rank {
  width: 100%;
  margin-top:1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:4px;
}

.box-rank p {
  margin: auto;
  padding: 0.3em;
}

.box-rank span {
  width: 80%;
  border-radius: 3em;
}

.gray {
  background-color: #B0C4D8 ;
}
.light-blue {
  background-color: #5E98D9 ;
}
.blue {
  background-color: #4B69FE ;
}
.purple {
  background-color: #8845FF ;
}
.pink {
  background-color: #B12FC1 ;
}
.red {
  background-color: #EB4C4B ;
}
.yellow {
  background-color: #F1AE35 ;
}

/* PAGE MAPS */

.all-maps {
  padding: 2em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap:2em;
}

.all-maps div {
  width: 15em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
}

.all-maps img {
  width: 80%;
}

.ancient {
  background-image: url(./images/maps/screen/anc.jpg) ;
  background-size: cover;
  background-position: center;
}
.anubis {
  background-image: url(./images/maps/screen/anubis.jpg) ;
  background-size: cover;
  background-position: center;
}
.dust {
  background-image: url(./images/maps/screen/dust2.jpg) ;
  background-size: cover;
  background-position: center;
}
.inferno {
  background-image: url(./images/maps/screen/inferno.jpg) ;
  background-size: cover;
  background-position: center;
}
.nuke {
  background-image: url(./images/maps/screen/nuke.jpg) ;
  background-size: cover;
  background-position: center;
}
.overpass {
  background-image: url(./images/maps/screen/overpass.jpg) ;
  background-size: cover;
  background-position: left;
}
.vertigo {
  background-image: url(./images/maps/screen/vertigo.jpg) ;
  background-size: cover;
  background-position: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  /* accueil */

  .container-right {
    margin-left: 21%;
  }

  .section-box {
    width: 100%;
    margin:2em 0;
    padding: 1em;
  }
  
  .opus ul {
    width:90%
  }

/* page mode de jeu */


/* page map */

.all-maps div {
  width: 100%;
}
.all-maps img {
  width: 14em;
}


  }
