/* texte forme/style */

.bold {
  font-size: large;
  font-weight: 600;
}

.indent {
  padding: 0 1.5em;
}

.upp {
  text-transform: uppercase;
}

/* --- navigation --- */

.logo img {
  border: 2px solid #fff;
}

.container-right {
  padding-top: 0;
}

/* TOP PAGE */

.logo-geant {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-color: #283a8a;
  box-sizing: border-box;
  background-image: url(./images/topaccueil.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffd194;
  box-shadow: 0 3px 0 #d86f12;
}

/* .logo-geant img {
  display: block;
  width: 400px;
  padding-bottom: 4px;
  filter: invert(1);
}  */

/* hr {
  margin:0 auto;
  border-bottom: 2px solid #ffd194;
  box-shadow: 0 3px 0 #d86f12;
} */

/* PAGE ACCUEIL */

.titre {
  text-align: center;
  color: #12182d;
  font-size: 1.5em;
  padding-bottom: 2em;
  font-style: italic;
}

.section-box {
  width: 80%;
  padding: 3em;
  margin: 2em auto;
  background-color: #efefef;
  border: 2px solid #3b4e95;
  box-sizing: border-box;
}

.sous-titre {
  margin: 1em 0;
  color: #d86f12;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em 0 1.5em;
  margin-bottom: 1em;
  text-align: justify;
  border-bottom: 2px solid #ffd194;
}

.text-1 h3 {
  text-align: center;
  margin: 2em auto 1em;
}

.opus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opus ul {
  width: 70%;
  text-align: center;
}

.opus ul li {
  background-color: #f6f6f6;
  color: #6b6b6b;
  margin-top: 1em;
  padding: 0.5em 0.2em;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

.opus ul li:hover {
  color: #d86f12;
  font-weight: 600;
}

/* PAGE 2 - MODE DE JEU */
/* premier classic */

.equipe,
.premier-classic {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 2em;
  text-align: center;
}

.equipe ul,
.premier-classic ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.equipe li {
  font-size: small;
}

.equipe img {
  width: 60px;
  margin-top: 1em;
}

.classic img {
  width: 50%;
  margin: 3em auto 0;
}

.premier img {
  width: 35%;
  margin: 1em auto 0;
}

.premier-classic span {
  display: flex;
  align-items: center;
}

.terro,
.counter {
  padding: 1em;
  margin-top: 1em;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 10px 0 10px;
}

.premier,
.classic {
  padding: 1em;
  margin-top: 1em;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.terro {
  color: #695d4b;
  background-color: #cbbe98;
  border: 2px solid #695d4b;
}

.counter {
  color: #30404a;
  background-color: #b7cad7;
  border: 2px solid #30404a;
}

/* PAGE MAPS */

.maps {
  width: 100%;
  background-image: url(./images/cs2-maps.jpg);
}
